receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  logging:
    logLevel: info

  jaeger:
    endpoint: "jaeger-collector.nexadesk.svc.cluster.local:14250"
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, jaeger]
